<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookstore</title>
<body>
    <ul>
        <% for(let i = 0; i < rows.length; i++){ %>
     <li><%= rows[i].book_name %> </li>
     <% } %>
     </ul>
</body>
</head>
</html>