<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Todo-list</title>
<body>
  <h1>My todo list:</h1>

  <ul>
      <% list.forEach(function(item){ %>
        <li><%= item %></li>
        <% }); %>
  </ul>

</body>
</head>
</html>
